<div class="text-center">
  <h1>Angular bootstrap</h1>

  <div class="row">
	  <div class="col-md-offset-3 col-md-6">
	  	<div class="well">
	  		<span class="environment">{{data.environment}} environment</span>
	  	</div>
	  	<div class="panel panel-primary">
	  		<div class="panel-heading">
	  			<h2 class="panel-title">Hello Angular World!</h2>
	  		</div>
	  		<div class="panel-body">
	  			<div>
	  				<img src="images/svg/happy.svg" />
	  			</div>
	  			<div class="alert alert-success">Welcome to the angular world!</div>
	  		</div>
	  	</div>
	  </div>
	</div>
</div>